# ── DJANGO ────────────────────────────────────────────────────
SECRET_KEY=your-secret-key-here
DEBUG=False
HTTPS_ENABLED=False
ALLOWED_HOSTS=filipdrobnjak.com,www.filipdrobnjak.com
CSRF_TRUSTED_ORIGINS=https://filipdrobnjak.com,https://www.filipdrobnjak.com

# ── CLOUDINARY ─────────────────────────────────────────────────
CLOUD_NAME=your-cloudinary-cloud-name
API_KEY=your-cloudinary-api-key
API_SECRET=your-cloudinary-api-secret
